<h3> <%= @kanji.symbolName %> </h3>
<div class="result" style="background: url(<%= @kanji.imageUrl %>)center center no-repeat #fff;"></div>
<% @answers.each do |answer| %>
<div class="result" style="background: url(<%= answer.imageUrl %>.png)center center no-repeat #fff;"></div>
<% end %>
