body {
  position: relative; background: #ECEEF3; padding: 0px; margin: 0px;
	color: #555; font-weight: 300; line-height: 1.5em; height: 100%;
	font-family: 'Helvetica Neue', helvetica, arial, serif;
}

/* CANVAS STYLES
-------------------------------------------------------------------------------------*/
.literally { position: absolute; bottom: 0; width: 100%; height: 100%;}
.toolbar-row-left { display: none !important; }
.undo-button, .redo-button, .zoom-out-button, .zoom-in-button, .zoom-display { display: none !important; }

/* APPLICATION STYLES
-------------------------------------------------------------------------------------*/
.navigation {
  position: fixed; top: 0px; z-index: 9999; display: block; overflow: visible;
  padding: 4px 0px; width: 100%; left: 0px right: 0px; top: 0px;
  background: #2E3137; text-align: center;
}
.logo { background: url('logo.png') left bottom no-repeat; width: 160px; height: 45px; padding: 0px; margin: 2px auto 4px auto; float: none; display: block; }
.navigation .grid { width: 400px; margin: 0 auto; overflow: auto; }

.page { z-index: 1; min-height: 100%; width: 400px; margin: 0 auto; padding: 0px; position: static; overflow: auto; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
h3 { text-align: center; font-size: 2em;}

.kanji {
  -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; 
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  width: 400px; height: 400px; display: none; border: 10px solid #8bb03e;
  margin: 50px auto 20px auto;
}

.result {
  -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; 
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  width: 400px; height: 400px; display: block; border: 10px solid #8bb03e;
  margin: 50px auto 20px auto;
}

#kanjiname { display: none; }
#countdown { color: #f00; display: none; font-size: 40px; margin: 0 auto; text-align: center; }
#results { display: none; }

a.kanjibutton { display: block; text-align: center; color: #fff; width: 200px; line-height: 2.5em; background: #8bb03e; margin: 300px auto; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }



